/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'normalize';
@import 'compass/typography/vertical_rhythm';


$max-width: 1080px;

$margin: 30px;
$padding: $margin / 2;
$gutter: 30px;

// Screen sizes
// $width-large: $max-width + ($gutter * 2)
$width-medium: $max-width + $gutter;
$width-small: 640px;

// Colors
$color1: #bf0000;
$color2: #00a33d;
$color3: #047391;

$rgd-red: #bf2026;
$rgd-blue: #107593;

$darkest: #000;
$darker: #101010;
$dark: #5e5e5e;
$orange: #D29034;
$light: #f7f6f6;
$lightest: #fff;

$border-radius: 4px;
$box-shadow: 0 2px 2px rgba(0, 0, 0, .45);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $orange;
  color: $darker;
}

h1 {
  font-family: 'Baloo Bhai', cursive;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 0 rhythm() 0;
  max-width: $max-width;
  background-color: $lightest;
  box-shadow: $box-shadow;
  border: 1px solid $light;
  border-top: 0;
  border-bottom: 0;

  @media screen and (max-width: $width-medium) {
    border: 0;
  }
}

header {
  margin: 0;
  text-align: center;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+65,d3d3d3+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 65%, #d3d3d3 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 65%,#d3d3d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #ffffff 65%,#d3d3d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  // Currently commented because this prevents the <nav> element in the header
  // from being able to 'break out' of the left and right sides of the header.
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  img {
    height: auto;
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: $width-medium) {
      width: 75%;
    }

    @media screen and (max-width: $width-small) {
      width: 100%;
      display: block;
    }
  }

  h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-shadow: $box-shadow;

    @media screen and (max-width: $width-small) {
      font-size: 3em;
    }
  }

  nav {
    background-color: $darkest;
    display: flex;
    flex-direction: row;
    margin: 0 $gutter * -1;
    box-shadow: $box-shadow;
    border-radius: $border-radius;


    @media screen and (max-width: $width-medium) {
      margin: 0;
      border-radius: 0;
    }

    @media screen and (max-width: $width-small) {
      flex-direction: column;
    }

    a {
      position: relative;
      // @include horizontal-borders($border-style: none);
      margin: 0;
      padding-top: rhythm() / 2;
      padding-bottom: rhythm() / 2;
      border-right: 1px solid $light;
      color: $light;
      font-size: rhythm();
      flex-grow: 1;
      text-align: center;
      text-decoration: none;
      font-family: 'Baloo Bhai', cursive;

      &:active {
        background: rgba(255, 255, 255, .35);
      }

      @media screen and (max-width: $width-small) {
        border-right: 0;
        padding-bottom: 0;
      }

      &:last-child {
        border-right: 0;
        @media screen and (max-width: $width-small) {
          padding-bottom: rhythm() / 2;
        }
      }

      &:hover {
        // text-indent: rhythm() * -1;
      }
    }
  }
}

.section-card {
  margin: 0 $gutter;
  padding-top: .1px;

  h1 {
    margin-left: $gutter * -2;
    margin-right: $gutter * -2;
    padding-left: $gutter * 2;
    color: #fff;
    background: $rgd-red;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: $gutter * .5;

    img {
      width: auto;
      height: 1em;
      vertical-align: middle;
      margin: 0;
      margin-left: $gutter * -0.5;
      margin-right: $gutter / 2;
    }

    @media screen and (max-width: $width-medium) {
      margin-left: $gutter * -1;
      margin-right: $gutter * -1;
      padding-left: $gutter * 2;
      border-radius: 0;
    }
  }
}

.section-about {
  h1 {
    background-image: url('../images/icon-game-pad.png');
  }
}

.section-facebook {
  h1 {
    background-image: url('../images/icon-screw-driver.png');
  }
}

.section-twitter {
  h1 {
    background-image: url('../images/icon-speech-bubble.png');
  }
}

.btn-top {
  position: fixed;
  top: rhythm();
  right: $gutter / 2;
  padding: rhythm() / 2 $gutter / 2;
  text-decoration: none;
  color: $lightest;
  background: $darkest;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: opacity .5s, top .5s;

  &.hidden {
    opacity: 0;
    top: -200px;
  }
}

.section-grid {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  li {
    box-sizing: border-box;
    padding-right: rhythm();
    width: 50%;

    @media screen and (max-width: 640px) {
      padding-right: 0;
      width: 100%;
    }

    &:nth-child(2n) {
      padding-right: 0;
    }
  }
}

.tweet {
  h2 {
    a {
      color: $dark;
      text-decoration: none;
    }
  }

  a {
    color: $lightest;
    text-decoration: none;
  }

  p {
    position: relative;
    background: $rgd-blue;
    padding: $gutter;
    border-radius: $border-radius;
    

    // Create speech bubble tail
    &:before {
      content: '';
      width: 0; 
      height: 0; 
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $rgd-blue;
      position: absolute;
      top: -15px
    }
  }
}
