/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #d29034;
  color: #101010;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }

h1 {
  font-family: 'Baloo Bhai', cursive; }

a {
  color: #101010;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #bf2026; }
  a:hover, a:active {
    color: #bf2026; }

.btn {
  display: inline-block;
  color: #fff;
  background-color: #101010;
  padding: 15px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  text-decoration: none; }
  .btn:hover {
    color: #fff; }

.btn-top {
  position: fixed;
  top: rhythm();
  right: 15px;
  transition: opacity .5s, top .5s; }
  .btn-top.hidden {
    opacity: 0;
    top: -200px; }

header {
  margin: 0;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+65,d3d3d3+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 65%, #d3d3d3 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 65%, #d3d3d3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ffffff 65%, #d3d3d3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  header img {
    height: auto;
    width: 50%;
    margin: 0 auto; }
    @media screen and (max-width: 1110px) {
      header img {
        width: 75%; } }
    @media screen and (max-width: 640px) {
      header img {
        width: 100%;
        display: block; } }
  header h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.45); }
    @media screen and (max-width: 640px) {
      header h1 {
        font-size: 3em; } }
  header nav {
    background-color: #000;
    display: flex;
    flex-direction: row;
    margin: 0 -30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
    border-radius: 4px; }
    @media screen and (max-width: 1110px) {
      header nav {
        margin: 0;
        border-radius: 0; } }
    @media screen and (max-width: 640px) {
      header nav {
        flex-direction: column; } }
    header nav a {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      font-size: 1.5em;
      line-height: 1.25em;
      font-weight: 400;
      position: relative;
      margin: 0;
      border: 0;
      border-right: 1px solid #f7f6f6;
      color: #f7f6f6;
      flex-grow: 1;
      text-align: center;
      text-decoration: none;
      font-family: 'Baloo Bhai', cursive; }
      header nav a:active {
        background: rgba(255, 255, 255, 0.35); }
      @media screen and (max-width: 640px) {
        header nav a {
          border-right: 0;
          padding-bottom: 0; } }
      header nav a:last-child {
        border-right: 0; }
        @media screen and (max-width: 640px) {
          header nav a:last-child {
            padding-bottom: 0.75em; } }
      header nav a:hover {
        color: #fff; }

.section-card {
  margin: 0 30px;
  padding-top: .1px; }
  .section-card h1 {
    margin-left: -60px;
    margin-right: -60px;
    padding-left: 60px;
    color: #fff;
    background: #bf2026;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 15px; }
    .section-card h1 img {
      width: auto;
      height: 1em;
      vertical-align: middle;
      margin: 0;
      margin-left: -15px;
      margin-right: 15px; }
    @media screen and (max-width: 1110px) {
      .section-card h1 {
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 60px;
        border-radius: 0; } }

.section-grid ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0; }

.section-grid li {
  padding-right: 1.5em;
  box-sizing: border-box;
  width: 50%; }
  @media screen and (max-width: 640px) {
    .section-grid li {
      padding-right: 0;
      width: 100%; } }
  .section-grid li:nth-child(2n) {
    padding-right: 0; }

.section-about h1 {
  background-image: url("../images/icon-game-pad.png"); }

.section-facebook h1 {
  background-image: url("../images/icon-screw-driver.png"); }

.section-facebook h2 a {
  border: 0; }

.section-facebook .event-passed h2 {
  text-decoration: line-through; }
  .section-facebook .event-passed h2 a {
    text-decoration: initial;
    color: initial; }

.section-twitter h1 {
  background-image: url("../images/icon-speech-bubble.png"); }

.tweet h2 a {
  color: #5e5e5e;
  text-decoration: none; }

.tweet a {
  border: 0;
  color: #fff;
  text-decoration: none;
  font-weight: normal; }

.tweet p {
  position: relative;
  background: #107593;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45); }
  .tweet p:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #107593;
    position: absolute;
    top: -15px; }

.btn-top {
  z-index: 1; }

html {
  font-size: 100%;
  line-height: 1.5em; }
  @media print {
    html {
      font-size: 12pt; } }

body {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2em;
  line-height: 0.9375em;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 0.375em;
  padding-bottom: 0.375em; }

h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 400; }

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 0 1.5em 0;
  max-width: 1080px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  border: 1px solid #f7f6f6;
  border-top: 0;
  border-bottom: 0; }
  @media screen and (max-width: 1110px) {
    .wrapper {
      border: 0; } }
