body {
  font-family: 'Open Sans', sans-serif;
  background-color: $orange;
  color: $darker;
  position: relative;
}

h1 {
  font-family: 'Baloo Bhai', cursive;
}

a {
  color: $darker;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid $rgd-red;

  &:hover,
  &:active {
    color: $rgd-red;
  }
}