body {
  font-family: 'Open Sans', sans-serif;
  background-color: $color4;
  color: $black200;
  position: relative;
}

h1 {
  font-family: 'Baloo Bhai', cursive;
}

a {
  color: $black200;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid $color1;

  &:hover,
  &:active {
    color: $color1;
  }
}
