body {
  font-family: 'Open Sans', sans-serif;
  background-color: $color4;
  color: $black200;
  position: relative;
}

html {
  @include define-type-sizing;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2 {
  @include margin-bottom(0.5);
}

h1 {
  @include margin-top(1.5);
  @include padding-top(0.25);
  @include padding-bottom(0.25);
  @include typeset(heading-1);
  @include typeface(heading-1);
}

h2 {
  @include margin-top(1);
  @include typeset(heading-2);
  color: $black300;
  text-decoration: none;

  a {
    color: inherit;
    text-decoration: inherit;
  }
}


p, ul, li {
  @include margin-top(0);
  @include margin-bottom(1);
}

a {
  color: $black200;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid $color1;

  &:hover,
  &:active {
    color: $color1;
  }
}
