.btn {
  display: inline-block;
  color: $white100;
  background-color: $black200;
  padding: $padding;
  border: 0;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  text-decoration: none;

  &:hover {
    color: $white100;
  }
}

.btn-top {
  position: fixed;
  top: 0;
  right: 0;
  margin: $gutter / 2  $gutter / 2 0 0;
  transform: translateY(0px);
  transition: opacity .5s, transform .5s;
  border-radius: 200px;
  background-image: url(../images/icon-up.png);
  background-repeat: no-repeat;
  background-position: $padding;
  width: $base-line-height;
  height: $base-line-height;

  &.hidden {
    opacity: 0;
    transform: translateY(-200px);
  }
}
