.section-twitter {
  h1 {
    background-image: url('../images/icon-speech-bubble.png');
    background-color: $color3;
  }
}

.tweet {
  h2 {
    a {
      color: $black300;
      text-decoration: none;
    }
  }

  img {
    vertical-align: middle;
    margin-right: $gutter / 2;
    border-radius: $border-radius;
  }

  a {
    border: 0;
    color: $white100;
    text-decoration: none;
  }

  p {
    @include padding(1);
    position: relative;
    background: $black300;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    font-weight: normal;

    // Create speech bubble tail
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $black300;
      position: absolute;
      top: -15px;
      left: 50px;
    }
  }
}
