.section-facebook {
  h1 {
    background-image: url('../images/icon-screw-driver.png');
    background-color: $color2;
  }

  h2 {
    margin-bottom: 0;
    a {
      border: 0;
    }
  }

  .event-passed {
    h2 {
      text-decoration: line-through;

      a {
        text-decoration: initial;
        color: initial;
      }
    }
  }

  .event-time,
  .event-location {
    font-weight: bold;
    font-size: 0.75rem;
    color: $black400;

    a {
      color: $black400;
      border-bottom: none;
    }
  }

  .event-location {
    margin-bottom: 1rem;
  }
}
