.section-card {
  margin: 0 $gutter;

  h1 {
    margin-left: $gutter * -2;
    margin-right: $gutter * -2;
    padding-left: $gutter * 2;
    color: #fff;
    background: $color1;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: $gutter * .5;

    img {
      width: auto;
      height: 1em;
      vertical-align: middle;
      margin: 0;
      margin-left: $gutter * -0.5;
      margin-right: $gutter / 2;
    }

    @media screen and (max-width: $width-medium) {
      margin-left: $gutter * -1;
      margin-right: $gutter * -1;
      padding-left: $gutter * 2;
      border-radius: 0;
    }
  }

  &>p:nth-child(2) {
    @include margin-top(1.5);
    @include margin-bottom(0);
  }
}

.section-grid {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
      margin: 0;
      box-sizing: border-box;
      width: 100%;
    }

    &.double-column {
      li {
        @include padding-right(1);
        width: 50%;

        &:nth-child(2n) {
          padding-right: 0;
        }

        @media screen and (max-width: 640px) {
          padding-right: 0;
          width: 100%;
        }
      }
    }
  }
}
