$base-unit: rem;

$base-font-size:    16px;
$base-line-height:  24px;

$line-height-method: rhythm;

$print-font-size: 12pt;

$font-size: (
  xl:   32px,
  l:    24px,
  m:    16px,
  s:    12px,
);

// Fonts
$baloo-bhai: 'Baloo Bhai', cursive;

$typefaces: (
  heading-1: $baloo-bhai
);

$typestyles: (
  heading-1: xl 1.5 bold uppercase,
  heading-2: l 1.5 bold,
  navigation: l 1.5 normal
);

// Page Rhythm and Dimensions
$max-width: 1080px;
$margin: 30px;
$padding: $margin / 2;
$gutter: 30px;


// Screen sizes
// $width-large: $max-width + ($gutter * 2)
$width-medium: $max-width + $gutter;
$width-small: 640px;


// Borders
$border-radius: 4px;
$box-shadow: 0 2px 2px rgba(0, 0, 0, .45);


// Colors
$color1: #bf2026;
$color2: #00a33d;
$color3: #107593;
$color4: #d29034;

$black100: #000000;
$black200: lighten($black100, 20%);
$black300: lighten($black100, 30%);

$white100: #ffffff;
$white200: darken($white100, 10%);
$white200: darken($white100, 20%);
