/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Modules
@import 'normalize';
@import 'typey';
@import 'variables';

// Partials
@import 'base';
@import 'buttons';
@import 'header';
@import 'section';
@import 'section-about';
@import 'section-facebook';
@import 'section-twitter';

// Z-indices
.btn-top {
  z-index: 1;
}

html {
  @include define-type-sizing;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  @include typeset(heading-1);
  @include padding-top(.25);
  @include padding-bottom(.25);
}

h2 {
  @include typeset(heading-2);
}

// A wrapper for the whole page
.wrapper {
  position: relative;
  margin: 0 auto;
  @include padding(0 0 1 0);
  max-width: $max-width;
  background-color: $white100;
  box-shadow: $box-shadow;
  border: 1px solid $white200;
  border-top: 0;
  border-bottom: 0;

  @media screen and (max-width: $width-medium) {
    border: 0;
  }
}
