/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Modules
@import 'normalize';
@import 'typey';
@import 'variables';

// Page Rhythm and Dimensions
$max-width: 1080px;
$margin: 30px;
$padding: $margin / 2;
$gutter: 30px;


// Screen sizes
// $width-large: $max-width + ($gutter * 2)
$width-medium: $max-width + $gutter;
$width-small: 640px;


// Borders
$border-radius: 4px;
$box-shadow: 0 2px 2px rgba(0, 0, 0, .45);


// Colors
$color1: #bf0000;
$color2: #00a33d;
$color3: #047391;

$rgd-red: #bf2026;
$rgd-blue: #107593;

$darkest: #000;
$darker: #101010;
$dark: #5e5e5e;
$orange: #d29034;
$light: #f7f6f6;
$lightest: #fff;


// Partials
@import 'base';
@import 'buttons';
@import 'header';
@import 'section';
@import 'section-about';
@import 'section-facebook';
@import 'section-twitter';

// Z-indices
.btn-top {
  z-index: 1;
}

html {
  @include define-type-sizing;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  @include typeset(heading-1);
  @include padding-top(.25);
  @include padding-bottom(.25);
}

h2 {
  @include typeset(heading-2);
}

// A wrapper for the whole page
.wrapper {
  position: relative;
  margin: 0 auto;
  @include padding(0 0 1 0);
  max-width: $max-width;
  background-color: $lightest;
  box-shadow: $box-shadow;
  border: 1px solid $light;
  border-top: 0;
  border-bottom: 0;

  @media screen and (max-width: $width-medium) {
    border: 0;
  }
}
